= simple_form_for(@workout, url: user_workouts_path(@workout.user_id), html: { class: 'form-horizontal' })  do |form|

  = form.input :area
  = form.input :work
  = form.input :notes
  = form.input :duration
  = form.submit
