%h1 Listing workouts

%table
  %thead
    %tr
      %th Area
      %th Movements
      %th Notes
      %th Duration
      %th
      %th
      %th

  %tbody
    - @workouts.each do |workout|
      %tr
        %td= workout.area
        %td= workout.movements
        %td= workout.notes
        %td= workout.duration
        %td= link_to 'Show', workout
        %td= link_to 'Edit', edit_workout_path(workout)
        %td= link_to 'Destroy', workout, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Workout', new_workout_path
