.jumbotron
  %h1 Sign In

  = form_for :session, url: sessions_path, class: "form-horizontal" do |f|

    .form-group
      = f.label :email
      = f.text_field :email, class: "form-control"

    .form-group
      = f.label :password
      = f.password_field :password, class: "form-control"

    = f.submit "Sign In", class: "btn btn-primary btn-lg"

  %p New User?
  = link_to "Sign Up Now!", new_user_path
