.container-fluid
  .row
    .col-md-3.sidebar
      .profile
        %img.gravatar= gravatar_image_tag(@user.email)
        %h3= @user.email
        - unless @user.current_max.nil?
          - @user.current_max.each do |movement, max|
            %h3= "Current #{movement} max: #{max}"
    .col-md-8.col-md-offset-1
      %table.table.table-striped
        %tr
          %th Week
          %th Day 1
          %th Day 2
          %th Day 3
        -for num in (1..5)
          %tr
            %td num
            %td Bench
            %td Deadlift
            %td Squat
  .row.posts
    .col-md-10.col-md-offset-1
      - unless @user.posts.empty?
        = render @user.posts.all
        = will_paginate @posts
